{% import_yaml "rinetd/defaults.yaml" as defaults %}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
    },
    'FreeBSD': {
        'config_file': '/usr/local/etc/rinetd.conf',
    },
}, grain='os_family', default='Debian') %}
{% set defaults = salt['defaults.merge'](defaults, os_family_map) %}
{% set rinetd = salt['pillar.get']('rinetd') %}
{% set defaults = salt['defaults.merge'](defaults, rinetd.get('lookup', {})) %}
{% set rinetd = salt['defaults.merge'](defaults, rinetd) %}
