{% import_yaml "rinetd/defaults.yaml" as defaults %}
{% import_yaml "rinetd/os_family_map.yaml" as os_family_map %}

{# get the settings for the os_family grain, merge it into defaults #}
{% set osfam = salt['grains.filter_by'](os_family_map, grain='os_family', merge=defaults) %}

{# Load Pillar data; merge it recursively into osfam #}
{% set rinetd = salt['pillar.get']('rinetd:lookup', default=osfam, merge=True) %}
